// Define color variables for themes
$dark-background: #333;
$dark-text: #ccc;
$dark-border: #555;
$light-background: #f9f9f9;
$light-text: #333;
$light-border: #ddd;

// Define hover data colors
$light-background-hover: darken($light-background, 5%);
$dark-background-hover: lighten($dark-background, 5%);

//border data
$border-width: 2px;
$colors: red, blue, green, purple, gold;

@each $color in $colors {
	.borderdebug-#{$color}{
		border: $border-width solid $color;
	}
}

.toggle-theme{
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	width: 60px;
	height: 34px;
	z-index: 100;	//Ensures it stays above other content

	.slider{
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
		border-radius: 34px;

		&:before{
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: .4s;
			border-radius: 50%;
		}
	}
	
	input[type="checkbox"]{
		opacity: 0;	//Hides the checkbox in the back (corner peeking behind custom slider)
		position: absolute;
		z-index: -1;
		pointer-events: none;
	}

	input:checked + .slider{
		background-color: #2196f3;
	}

	input:checked + .slider:before{
		transform: translateX(26px);
	}
}

//General Styling based on theme
body{
	&.dark-mode{
		background-color: $dark-background;
		color: $dark-text;

		textarea, select, button{
			background-color: $dark-background;
			color: $dark-text;
			border: 1px solid $light-border;

			&:hover{
				background-color: $dark-background-hover;
			}
		}

		select, button{
			&:hover{
				cursor: pointer;
			}
		}
	}

	textarea, select, button{
		background-color: $light-background;
		color: $light-text;
		border: 1px solid $dark-border;
		transition: background-color 0.3s;

		&:hover{
			background-color: $light-background-hover;
		}
	}

	select, button{
		&:hover{
			cursor: pointer;
		}
	}
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 10px;
	margin-top: 50px;

	.container-textareas, .controls{
		display: flex;
		flex-direction: column;
		margin: 2px;

		label{
			margin-bottom: 15px;
		}
	}

	.container-textareas{
		flex: 3;

		textarea{
			width: 95%;
			height: 25vh;
			resize: none;
			margin-bottom: 10px;
		}
		button{
			width: 25%;
		}
	}

	.controls{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		select{
			width: 95%;
			margin-bottom: 8px;	// padding
		}
		button{
			width: 50%;
		}
	}

	@media (max-width: 768px){
		flex-direction: column;

		.container-textareas, .controls{
			width: 100%;
		}

		.container-textareas button{
			width: 100%;
		}
	}
}

.notification{
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: $dark-background;
	color: $dark-text;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 101;
	left: 50%;
	bottom: 30px;

	&.show{
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
		animation: fadein 0.5s, fadeout 0.5s 1.0s;
	}

	@-webkit-keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}
	
	@keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
}